trunk/NCRVisual/DataExtractorForPHPBB/Service References/PHPBBService/PHPBBForumService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51165/PHPBBForumService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBWebService" />
  <xs:element name="GetPostsInPHPBBForum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbServerAddr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsInPHPBBForumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DBWebService" minOccurs="0" name="GetPostsInPHPBBForumResult" nillable="true" type="q1:ArrayOfForumPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>